@model IEnumerable<EventListingServiceModel>

@{
    ViewData["Title"] = "All Events";

    var isSignedIn = User.Identity.IsAuthenticated ? "" : "style= display:none";
}

<header class="masthead" style="background-image: url('/images/85.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Semkovo</h1>
                    <span class="subheading">Virgin nature</span>
                </div>
            </div>
        </div>
    </div>
</header>

<h2 class="text-center">@(Model.Any() ? ViewData["Title"] : "No events yet")</h2>

<div class="row text-center" style="margin-right: 0px">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        @if (Model.Any())
        {
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Creator</th>
                        <th>Limit</th>
                        <th @isSignedIn></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ev in Model)
                    {
                        var isDisabled = ev.Participants.Count >= ev.Limit ? "disabled" : "";

                        <tr>
                            <td>@ev.Name</td>
                            <td>@ev.StartDate.ToShortDateString()</td>
                            <td>@ev.EndDate.ToShortDateString()</td>
                            <td>@ev.CreatorName</td>
                            <td>@ev.Limit</td>
                            <td @isSignedIn>
                                @if (!ev.IsJoined)
                                {
                                    <a href="/Users/Join?userName=@User.Identity.Name&eventId=@ev.Id" class="btn btn-sm btn-success @(isDisabled == "" ? "" : "not-active")" @isDisabled>Join</a>
                                }
                                else
                                {
                                    <a asp-area="" asp-controller="Users" asp-action="SignOut" asp-route-userName="@User.Identity.Name" asp-route-eventId="@ev.Id" class="btn btn-sm btn-danger">Sign out</a>
                                }
                            </td>
                            <td><a asp-action="Details" asp-route-id="@ev.Id" class="btn btn-sm btn-primary">Details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
