@model EventDetailsServiceModel
@{
    ViewData["Title"] = $"Event {Model.Name} details";

    var isCreator = (User.Identity.IsAuthenticated && User.Identity.Name == Model.CreatorName) ? "" : "style= display:none";
}
<h2 class="text-center">@ViewData["Title"]</h2>

<div class="row margin-top">
    <div class="col-md-8 col-sm-8">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Creator Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Participants</th>
                    <th>Maximum number of participants</th>
                    <th @isCreator></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.CreatorName</td>
                    <td>@Model.StartDate.ToShortDateString()</td>
                    <td>@Model.EndDate.ToShortDateString()</td>
                    <td>@Model.Participants</td>
                    <td>@Model.Limit</td>
                    <td @isCreator>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
