@model IEnumerable<ArticleListingServiceModel>

@{
    ViewData["Title"] = "Articles";
}

<h2>@ViewData["Title"]</h2>

@foreach (var article in Model)
{
    <article>
        <a href="/articles/details/@article.Id">
            <h1>@article.Title</h1>
        </a>
        <p>Author: @article.Author</p>
        <p>@article.Content</p>
        <p>@article.CreatedOn</p>
        <p>
            @article.Comments
            <i class="fa fa-comment"></i>
        </p>
    </article>
}

