@model IEnumerable<ArticleListingServiceModel>

@{
    ViewData["Title"] = "Articles";
}

<header class="masthead" style="background-image: url('/images/DSC_0170.jpg')">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Semkovo</h1>
                    <span class="subheading">Virgin nature</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row" style="margin-right: 0px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @if (Model.Any())
        {
            <div id="articles-container">
                @foreach (var article in Model)
                {
                    <article>
                        <a href="/articles/details/@article.Id">
                            <h1>@article.Title</h1>
                        </a>
                        <p>Author: @article.Author</p>
                        <p>@article.Content</p>
                        <p>@article.CreatedOn</p>
                        <div class="comment-icon">
                            @article.Votes
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        <p>
                            @article.Comments
                            <i class="fa fa-comment"></i>
                        </p>
                        <hr />
                    </article>                        
                }
            </div>
        }
        else
        {
            <div>No articles yet</div>
        }
    </div>
</div>

<input id="next-page" type="hidden" value="2" />

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
</script>

<script>
    $(document).ready(function () {
        var win = $(window);

        win.scroll(function () {
            if ($(document).height() - win.height() == win.scrollTop()) {
                $('#loading').show();

                $.ajax({
                    url: '/articles/allasync?page=' + $("#next-page").val(),
                    dataType: 'json',
                    success: function (json) {
                        for (var item of json) {
                            console.log(item);
                            $('#articles-container').append(`<article>
                                                                    <a href="/articles/details/${item.id}">
                                                                        <h1>${item.title}</h1>
                                                                    </a>
                                                                    <p>Author: ${item.author}</p>
                                                                    <p>${item.content}</p>
                                                                    <p>${item.createdOn}</p>
                                                                    <div class="comment-icon">
                                                                        ${item.votes}
                                                                        <i class="fa fa-thumbs-up"></i>
                                                                    </div>
                                                                    <p>
                                                                        ${item.comments}
                                                                        <i class="fa fa-comment"></i>
                                                                    </p>
                                                                    <hr />
                                                                </article>`);
                        }

                        var nextPage = Number($("#next-page").val());
                        $("#next-page").val(nextPage + 1);
                        $('#loading').hide();
                    }
                });
            }
        });
    });
</script>


