@model ArticleDetailsServiceModel
@{
    ViewData["Title"] = "Details";
}
<h2>@ViewData["Title"]</h2>
<article>
    <h1>@Model.Title</h1>
    <p>Author: @Model.Author</p>
    <p>@Model.Content</p>
    <p>@Model.CreatedOn</p>
    <p>
        @Model.Comments
        <i class="fa fa-comment"></i>
    </p>
    <p>
        @if (User.Identity.Name.ToLower() == Model.Author.ToLower() || User.IsInRole(WebConstants.AdministratorRole))
        {
            <a href="/articles/edit/@Model.Id" class="btn btn-warning">Edit</a>
            <a href="/articles/delete/@Model.Id" class="btn btn-danger">Delete</a>
        }
    </p>
</article>